<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <title>Document</title>
  </head>
  <body>
    <!-- location of roomID -->
    <h1>location of id <%=roomId %> :</h1>
    <!-- loction displayer -->
    <div id="newloc"></div>

    <script>
      let socket = io();
      const heading2 = document.getElementById("newloc");

      //input id of user
      const USER_ID = prompt("your id : ");
      //joing socket room
      socket.emit("join-room", ROOM_ID, USER_ID);
      // input value of current latitude and longitude
      const LATI = prompt("Latitude : ");
      const LONGI = prompt("Longitude : ");

      //send the latest location of current user
      socket.emit("new-location", {
        location: { lat: Number(LATI), long: Number(LONGI) },
        userId: USER_ID,
      });

      //location of the params of we wanna find
      socket.on("admin-location", (val) => {
        if (!val) {
          heading2.innerHTML = "";
        } else {
          heading2.innerHTML = "lat : " + val.lat + " long : " + val.long;
        }
      });
    </script>
  </body>
</html>
